

.contain-tips-right{
 width:1024px;
 margin:0 auto;
text-align:left;
line-height:25px;
margin-top:30px;

}
.contain-title{  
  text-align:left;
  font-weight:bold;
  font-size:14px;
  width:100%;
  margin-left:0px;
   background-image: url("../images/nav-h2.png");
    background-repeat: repeat-x;

  line-height:40px;

}
.contain-title a{  
  margin-left:10px;

}
.contain-tips{

  margin-top:50px;
  margin-left:50px;
  font-size:16px;
  font-weight:bold;
  margin-bottom:100px;
  color:#07aa21;
}
.contain-tips a:hover{
  text-decoration: underline;
}
.contain-title a:hover{
   text-decoration: underline;
}
.contain a{
  font-weight:bold;
}
.error-span{
 margin-left:160px;
 text-align:left;
 color:red;
}
.reg_input_text{ 

	background:url(../images/pic_6.jpg) no-repeat 0 0; 
	border:1px solid #e0e0e0;
	width:250px; 
	height:25px; 
	line-height:30px;
    left:0px;

}
.reg-contain{
  width:430px;
  margin:0 auto;
  margin-top:50px;
    height:auto!important;  
    height:600px;  
    min-height:600px;
  
}
.reg-contain ul{
  margin-left:20px;
  
  
}
.reg-contain li{
  padding-top:8px;
  
}
.form-btn{
  margin-bottom:50px;
}
.reg-contain label{
  display:inline-block;
  width:150px;
  text-align:right;
  font-size:14px;
  font-weight:bold;
  margin-left:0px;
  float:left;
}
.form-input{
  float:left;
}




.w100{
 width:100px;
}
.button{
  display:inline;
  line-height:25px;
   background:#6fbf4c;
   color:#fff;
  text-align:center;
  margin-left:120px;
  padding:5px;
}
.button:hover{
  display:inline;
  line-height:25px;
background:#61ad3f;
	color:#fff;
  text-align:center; 
  margin-left:120px;
  padding:5px;

}

.step{margin:0 auto;width:97%;margin-top:10px;overflow:hidden;margin-bottom:30px;height:25px; }
.step li{float:left;background:url(../images/i/p1.jpg) no-repeat top right #ededed;height:25px;line-height:25px;color:#999999;padding:0 86px 0 85px;font-weight:bold;}
.step .one{background:url(../images/i/p5.jpg) no-repeat top right #bbbbbb;color:#FFF;}
.step .one1{background:url(../images/i/p9.jpg) no-repeat top right #bbbbbb;color:#FFF;}
.step .two{background:url(../images/i/p10.jpg) no-repeat top right #bbbbbb;color:#FFF;}
.step .two1{background:url(../images/i/p9.jpg) no-repeat top right #bbbbbb;color:#FFF;}
.step .three{background:url(../images/i/p5.jpg) no-repeat top right #bbbbbb;color:#FFF;}
.step .cur{background:url(../images/i/p2.jpg) no-repeat top right #ffe6bc;color:#ff6600;}
.step .four{background:none #ededed;}
.step .four1{background:#ffe6bc;}
