app_root=D:\\google-code\\foodoon-server\\server\\ums365
app_name=ums365
htdocs_root=/

gateway.httpUrl=http://www.smsadmin.cn/smsmarketing/wwwroot/api

gateway.smsUserName=gang0119
gateway.smsPassword=gavin1219
gateway.linkId=

jdbc.url=jdbc:mysql://localhost:3306/tiao
jdbc.userName=root
jdbc.password=vivian119