#set($HeadMenuId="a_info")


#set($layout = "home/layout/umsLayout.vm")
<script type="text/javascript" src="$homeServer.getURI("/static/js/ums/contact.js")"></script>
<link rel="stylesheet" href="$homeServer.getURI("/static/css/ums-addcontact.css")" />

<div class="ums-center-contain">
<div>
    <ul id="crumbs">
	    <li><a href="$homeServer.getURI("/ums/index.htm")">首页</a></li>
	    <li><a href="$homeServer.getURI("/personal/personal.htm")">个人资料</a></li>
	    <li>修改密码</li>
    </ul>
</div>


 <div class="msg-contain-right">
 <form name="passwordForm" id="passwordForm" method="post">
	<table class="contain-tab" cellspacing="1" cellpadding="0" >
	 <tr><td>旧密码:</td><td>
	 #springBind("passwordForm.oldPassword" )
	 <input class="contact_input_text"  type="password" name="${status.expression}" value="$!status.value"/>
	 </td></tr>
	 <tr><td>&nbsp;</td><td>
	<p class="error-span">
	#foreach($error in $status.errorMessages)
			<b>$error</b>
	  #end
	  </p>
    </td>
	</tr>
	 <tr><td>新密码:</td><td>
	 #springBind("passwordForm.password" )
	 <input class="contact_input_text" type="password" name="${status.expression}" value="$!status.value"/></td></tr>
	 <tr><td>&nbsp;</td><td>
	<p class="error-span">
	#foreach($error in $status.errorMessages)
			<b>$error</b>
	  #end
	  </p>
    </td>
	</tr>
	 <tr><td>确认新密码:</td><td>
	 #springBind("passwordForm.secPassword" )
	 <input class="contact_input_text" type="password" name="${status.expression}" value="$!status.value"/></td></tr>
	 <tr><td>&nbsp;</td><td>
	<p class="error-span">
	#foreach($error in $status.errorMessages)
			<b>$error</b>
	  #end
	  </p>
    </td>
	</tr>
	 <tr><td colspan="2"><a id="password-form-submit" class="do-btn margin-left120" href="#">保存</a></td></tr>
	 </table>
	</form>	
  </div>
</div>