#set($layout = "home/layout/admin.vm")
<div class="contain">
<ul class="contain-title"><li><a href="$homeServer.getURI("/admin/admin.htm")">后台管理</a>-&gt;<a href="$homeServer.getURI("/admin/adminNews.htm")">新闻管理</a>-&gt;修改新闻结果</li></ul>
<b style="font-size:16px;">$!tips</b>
</div>