<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
     "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	<bean id="methodTimeAdvice" class="net.zoneland.ums.common.dal.aop.MethodTimeAdvice" />

	
    <!-- 根据 Bean 的名字自动实现代理拦截 -->
	<bean
		class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<property name="interceptorNames">
			<list>
			    <value>cacheInterceptor</value>
				<value>methodTimeAdvice</value>
				
			</list>
		</property>
		<property name="beanNames">
			<list>
			    <!-- 添加到其中的 Bean 自动就被代理拦截了 -->
				<value>*Mapper</value>
			</list>
		</property>
	</bean>
</beans>