<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd"
	default-autowire="byName">


	
	
	<bean id="umsDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	  <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
	  <property name="url" value="${jdbc.url}"></property>
	  <property name="username" value="${jdbc.userName}"></property>
	  <property name="password" value="${jdbc.password}"></property>

	</bean>
	


	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="umsDataSource" />
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:mybatis/mybatis-config.xml" />
		<property name="dataSource" ref="umsDataSource" />
	</bean>

	<bean name="beanNameAutoProxy"
		class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator" />

	<bean id="transactionProxy" parent="beanNameAutoProxy">
		<property name="beanNames">
			<list>
				<value>roleConfigBiz</value>
				<value>appBiz</value>
				<value>gatewayService</value>
				<value>umsAreaBiz</value>
				<value>gatewayGroupBiz</value>
			</list>
		</property>
		<property name="interceptorNames">
			<value>transactionInterceptor</value>
		</property>
	</bean>

	<bean id="transactionInterceptor"
		class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<property name="transactionManager">
			<ref local="transactionManager" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="del*">PROPAGATION_REQUIRED</prop>
				<prop key="giveRole">PROPAGATION_REQUIRED</prop>
				<prop key="giveArea">PROPAGATION_REQUIRED</prop>
				<prop key="roleAssignment">PROPAGATION_REQUIRED</prop>
				<prop key="areaAssignment">PROPAGATION_REQUIRED</prop>
				<prop key="saveGatewayGroup">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>

</beans>