app_root=E://code//123//moni
app_name=monitor
htdocs_root=/

#jdbc.driver=com.mysql.jdbc.Driver
#jdbc.url=jdbc:mysql://localhost:3306/monitor?useUnicode=true&characterEncoding=UTF-8
#jdbc.username=root
#jdbc.password=vivian119

jdbc.driver=oracle.jdbc.driver.OracleDriver
jdbc.url=jdbc:oracle:thin:@127.0.0.1:1521:orcl
jdbc.username=monitor
jdbc.password=monitor

mail.host=smtp.163.com
mail.port=25
mail.username=ums365service@163.com
mail.password=gavin1217

modem.modemId=modem.com4
modem.port=COM4
modem.baudRate=9600
modem.manufacturer=wavecom

agent.key=xxx