<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>监控平台登录</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <script type="text/javascript" src="$homeServer.getURI("/static/js/ui/jquery-1.8.0.min.js")"></script>
    <link rel="stylesheet" type="text/css" href="$homeServer.getURI("/static/login/skin.css")" >
        <link rel="stylesheet" href="$homeServer.getURI("/static/css/sexybuttons.css")" type="text/css" />
<script>
	var currenthost = "$!homeServer";
</script>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #1D3647;
}
-->
</style>
</head>
 <body>

      
      $screen_content
 </body>
</html>
