<div class="ask-tips">
 <div class="ask-tips-contain">
 <h4>使用遇到问题？</h4>
 <dl>
	 <dt>1,如何确认短信发送成功了？</dt>
	 <dd>答：发送短信后可以在已发的短信中查看短信状态，状态为成功则表示短信发送成功；状态为待发送表示短信已经在等待发送，一般10秒内会发送出去；状态为发送
	 失败表示短信没有发送出去；对于发送失败的短信，系统会自动尝试再次发送，最多尝试10次。</dd>
	 <dt>2,短信发送状态一直是失败的时候怎么办？</dt>
	 <dd>答：一般情况下，短信发送失败需要联系系统管理员。联系电话:15558135733。或者联系qq:52313882</dd>

 </dl>
 </div>
</div>