<div class="ask-tips-nomargin">
 <div class="ask-tips-contain">
 <h4>个人手机号的用途</h4>
 <dl>
	 <dt>对于淘宝掌柜用户，如果您订阅了交易提醒，评价提醒等通知，我们会以短信的方式发送到您的手机上，因此，请确保个人资料里面手机号的正确。</dt>
	 

 </dl>
  <h4>个人邮箱的用途</h4>
 <dl>
	 <dt>个人邮箱用来找回密码，因此也需要您确保邮箱为您的常用邮箱，以便您在忘记短信助手登录密码的时候，可以及时找回密码。</dt>
	 

 </dl>
 </div>
</div>