<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tiaotiaogift.ada.common.dal.ProdMapper" >
  <resultMap id="BaseResultMap" type="com.tiaotiaogift.ada.common.dal.dataobject.Prod" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="img" property="img" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="REAL" />
    <result column="discount" property="discount" jdbcType="REAL" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.tiaotiaogift.ada.common.dal.dataobject.Prod" extends="BaseResultMap" >
    <result column="describ" property="describ" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, type, name, img, price, discount, gmt_created
  </sql>
  <sql id="Blob_Column_List" >
    describ
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from prod
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from prod
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tiaotiaogift.ada.common.dal.dataobject.Prod" >
    insert into prod (id, type, name, 
      img, price, discount, gmt_created, 
      describ)
    values (#{id,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{img,jdbcType=VARCHAR}, #{price,jdbcType=REAL}, #{discount,jdbcType=REAL}, #{gmtCreated,jdbcType=TIMESTAMP}, 
      #{describ,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tiaotiaogift.ada.common.dal.dataobject.Prod" >
    insert into prod
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="img != null" >
        img,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="discount != null" >
        discount,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="describ != null" >
        describ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=REAL},
      </if>
      <if test="discount != null" >
        #{discount,jdbcType=REAL},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="describ != null" >
        #{describ,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tiaotiaogift.ada.common.dal.dataobject.Prod" >
    update prod
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=REAL},
      </if>
      <if test="discount != null" >
        discount = #{discount,jdbcType=REAL},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="describ != null" >
        describ = #{describ,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.tiaotiaogift.ada.common.dal.dataobject.Prod" >
    update prod
    set type = #{type,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      img = #{img,jdbcType=VARCHAR},
      price = #{price,jdbcType=REAL},
      discount = #{discount,jdbcType=REAL},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      describ = #{describ,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tiaotiaogift.ada.common.dal.dataobject.Prod" >
    update prod
    set type = #{type,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      img = #{img,jdbcType=VARCHAR},
      price = #{price,jdbcType=REAL},
      discount = #{discount,jdbcType=REAL},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>


  
      <select id="selectByType" resultMap="ResultMapWithBLOBs" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from prod 
    <if test="type != null" >
       where type=#{type}
      </if>
order by gmt_created desc limit #{start},8
  </select>
  
        <select id="selectCountByType" resultType="java.lang.Integer" >
    select   count(id)  from prod 
    <if test="type != null" >
       where type=#{type}
      </if>
  </select>
  
      <select id="selectNew" resultMap="ResultMapWithBLOBs" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from prod
   order by gmt_created desc limit 4
  </select>
  
  
</mapper>