#divShowNum{ font-size:14px;
  width: 50px;
  height: 18px;
  border: none;
  padding: 5px;
  padding-bottom: 15px;
  display: none;
  position:absolute;
  color:#757575;
}

#changeNum{
  font:15px/20px Georgia,Tahoma,Arial;
}