.pager{
 	padding:25px 130px;
   float:left;
}

.litable {
	padding:15px;
	}
.litable ul {
	list-style:none
	}
.litable li {
  border-left:1px solid #ccc;
  border-top:1px solid #ccc;
  float:left;
  height:33px;
  text-align:center;
  line-height:33px;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}
.litable li.b {
	border-bottom:1px solid #ccc
	}
.litable li.r {
	border-right:1px solid #ccc
	}
.litable li.mainHeader {
 border-left:1px solid #ccc;
 border-top:1px solid #ccc;
 float:left;
 height:33px;
 text-align:center;
 line-height:33px;
 background:#daecf2;}

.lisize4 li{
	width:24.6%;
	}
.lisize5 li{
	width:16.3%;
	}
.lisize6 li{
	width:16.3%;
	}
.lisize7 li{
	width:14%;
	}
.lisize8 li{
	width:14%;
	}
.lisize9 li{
	width:12.3%;
	}
.lisize11 li{
	width:16.3%;
	}
.lisize12 li{
	width:14%;
	}
.lisize13 li{
	width:12.3%;
	}
	.lisize14 li{
	width:9.6%;
	}

.width900{
	width:900px;
	}
.width950{
	width:950px;}
.width200{
	width:200px;
	}
.width150{
	width:140px;
	}
.width180{
	width:180px;
	}
.width160{
	width:160px;
	}
.width110{
	width:110px;
	}


/*表单*/
.inputBox{
	border:1px solid #cbe1eb;
	background:#fff url(../images/line.gif) repeat-x 0 0;
	}


