div.tableContainer {
    /*border: 1px solid #d0e4dd;*/
    width: 100%;
    margin:0 auto;
  }

div.tableContainer div.fixedHeaderContainer {
  	/* border: 1px solid red; */
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 30px;
  }

div.tableContainer div.fixedHeaderContainer table {
    width: 100%;
    height: 30px;
}

tbody.fixedHeader td {
    background:  #d0e4dd;
    border-left: 1px solid #FFF;
    border-right: 1px solid #808080;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #808080;
    font-weight: normal;
    padding: 2px 1px 3px 1px;
    text-align: center;
  }

div.scrollContentContainer table.scrollContent{
	background : #CCC;
	table-layout:fixed;
}
div.scrollContentContainer table.scrollContent tr {
  	background: #FFF;
    padding: 5px;
    height: 30px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

div.scrollContentContainer table.scrollContent td {
	white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

div.scrollContentContainer table.scrollContent thead td {
  	background: #d0e4dd;
    text-align: center;
}



div.searchArea{
	width:100%;
	margin: 0 auto;
}
div.searchArea table{
	width:100%;
	background: #CCC;
}
div.searchArea td{
	background: #FFF;
    padding: 3px;
}
div.searchArea input[type=text]{
	border: 1px solid #CBE1EB;
	padding:3px;
}
div.searchArea select{
	border: 1px solid #CBE1EB;
	height:22px;
}


.search_app{
	width: 300px;
	position: relative;
	left:0px;
}
.app_show{
	position: absolute;
	top:23px;
	*top:23px;
	left: 0px;
	border: 1px solid #CBE1EB;
	display: none;
	background: #ffffff;
}
.app_show ul {
	width: 300px;
	overflow: auto;
}
.app_show ul li {
	padding:2px 5px;
	margin:0;
	width: 290px;
	float: left;
	cursor: pointer;
}

.app_show_over{
	background-color: #B8B8B8;
    color: #fff;
}

.input_search_app{
  	width:300px;
  }


