#set($layout = "home/layout/errorLayout.vm")

<div style="height:100%;padding:100px;text-align:center;background-color:#e2f2ec;">
<ul>
<font size="5" color="red"><b>对不起，您没有权限访问该页面</b></font></ul>
<ul style="padding:5px;"><span style="font-size:18px;">您可以<a href="$umsServer.getURI("/msg/msg.htm")" >点此回到首页</a>发送消息</span></ul></div>

