app_root=F:\\power
gateway.ws.url=http://172.16.86.103:9080/gateway/invoke/gatewayService
app_name=ums
htdocs_root=/
mysqljdbc.url=jdbc:mysql://172.16.86.1:3306/ums?characterEncoding=gbk
mysqljdbc.username=root
mysqljdbc.password=zone2012
dealInitServer=172.16.1.211
filingJob.repeatInterval=3
msgCodecType=15
queue.capacity=10000
jdbc.url=jdbc:mysql://localhost:3306/sms
jdbc.userName=root
jdbc.password=root
clusterHosts=
cluster.repeatInterval=5
socket.client.host=172.16.86.103
socket.client.port=5555
socket.client.maxConnect=30

sendDelay.repeatInterval=30000
sendFailure.repeatInterval=30000

socket.server.addr=0.0.0.0:8888,9999
socket.common.server.addr=7777
sendMsgThread.invokeRecvIdCount=50
sendMsgThread.sendThreadCount=5
sendMsgThread.sendThreadSleepMillis=100

mail.name=gang0119@163.com

mail.sender.host=smtp.163.com
mail.receive.host=pop3.163.com
mail.username=gang0119@163.com
mail.password=gavin1217

#gateway.service.url=http://172.16.86.103:9080/gateway/invoke/gatewayService
gateway.service.url=http://localhost:9091/invoke/gatewayService

cmpp.registered_Delivery=0
cmpp.service_Id=
cmpp.fee_UserType=1
cmpp.fee_Terminal_Id=
cmpp.tp_Pid=1
cmpp.fee_Type=
cmpp.fee_Code=
cmpp.src_Terminal_Id=
cmpp.reserve=

cmpp30.registered_Delivery=0
cmpp30.service_Id=
cmpp30.fee_UserType=1
cmpp30.fee_Terminal_Id=
cmpp30.tp_Pid=1
cmpp30.fee_Type=
cmpp30.fee_Code=
cmpp30.src_Terminal_Id=
cmpp30.reserve=
cmpp30.dest_Terminal_Type=1
cmpp30.linkID=
cmpp30.priority=3

sgip.chargeNumber=
sgip.corpId=
sgip.serviceType=
sgip.feeType=1
sgip.feeValue=
sgip.givenValue=1
sgip.agentFlag=1
sgip.morelatetoMTFlag=1
sgip.reportFlag=1
sgip.tp_pid=1
sgip.messageLen=300
sgip.messageType=1
sgip.reserve=

smgp.msgType=1
smgp.needReport=1
smgp.serviceId=1
smgp.feeType=1
smgp.feeCode=
smgp.fixedFee=
smgp.chargeTermId=
smgp.reserve=

smgp3.msgType=1
smgp3.needReport=1
smgp3.serviceId=1
smgp3.feeType=1
smgp3.feeCode=
smgp3.fixedFee=
smgp3.chargeTermId=
smgp3.reserve=
smgp3.tp_pid=1
smgp3.linkId=
smgp3.msgSrc=
smgp3.chargeUserType=1
smgp3.chargeTermType=1
smgp3.chargeTermPseudo=
smgp3.destTermType=1
smgp3.destTermPseudo=
smgp3.submitMsgType=1
smgp3.spDealResult=1
smgp3.mserviceId=