<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
     
        <title>短信助手找回密码</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<table width="500" cellspacing="1" cellpadding="0" border="0" bgcolor="#0BA5EB" align="center">
  <tbody><tr>
    <td valign="top" bgcolor="#FFFFFF" align="left"><table width="100%" cellspacing="0" cellpadding="0" border="0">
      <tbody><tr height="25px" bgcolor="#313733">
       
        <td width="577" style="color:#fff;font-weight:bold;"   align="left" class="font_blue14_bold">&nbsp;短信助手找回密码</td>
       
      </tr>
    </tbody></table></td>
  </tr>
  <tr>
    <td valign="top" bgcolor="#FFFFFF" align="center"><table width="92%" cellspacing="0" cellpadding="0" border="0">
      <tbody><tr>
        <td height="12"></td>
        </tr>
      <tr>
        <td valign="top" align="left"><span class="font_red12">$!userName</span>，您好：<br>
&nbsp;&nbsp;&nbsp; 您提交了找回密码申请：<br>
        </td>
      </tr>
      <tr>
        <td valign="top" height="13" align="left"></td>
      </tr>
     
      <tr>
        <td valign="top" align="left"><span class="font_blue122_bold">点击以下链接，设置新的密码：</span><br>
           <a target="_blank" class="font_blue12" href="$!resetUrl">$!resetUrl</a><span class="fant_hui12"><br>
          (如果不能点击该链接地址，请复制并粘贴到浏览器的地址输入框)</span></td>
      </tr>
      <tr>
        <td valign="top" height="13" align="left">如果不是您提交的找回密码申请，请忽略此邮件。</td>
      </tr>
      
      <tr>
        <td valign="top" align="left"><p> 此邮件为系统所发，请勿直接回复。&nbsp; &nbsp;            <br>
          <a target="_blank" class="font_blue12" href="http://www.ums365.com">www.ums365.com</a>  短信助手<br>
客服热线：15558135733 &nbsp; <br>
QQ：52313882
<br>
          </p>          </td>
        </tr>
      <tr>
        <td valign="top" align="left">&nbsp;</td>
      </tr>
    </tbody></table>
    </td>
  </tr>
</tbody></table>
</body>
</html>