<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.zoneland.ums.common.dal.UmsBlackListMapper">
	<resultMap id="BaseResultMap"
		type="net.zoneland.ums.common.dal.dataobject.UmsBlackList">

		<id column="ID" property="id" jdbcType="CHAR" />
		<result column="USER_ID" property="userId" jdbcType="CHAR" />
		<result column="APP_ID" property="appId" jdbcType="CHAR" />
		<result column="GMT_CREATED" property="gmtCreated" jdbcType="TIMESTAMP" />
		<result column="GMT_MODIFIED" property="gmtModified" jdbcType="TIMESTAMP" />
	</resultMap>

	<resultMap id="AppInfo"
		type="net.zoneland.ums.common.dal.dataobject.UmsAppInfo">
		<id column="ID" property="id" jdbcType="CHAR" />
		<result column="APP_NAME" property="appName" jdbcType="CHAR" />
	</resultMap>

	<sql id="Base_Column_List">

		ID, USER_ID,APP_ID, GMT_CREATED, GMT_MODIFIED
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">

		select
		<include refid="Base_Column_List" />
		from UMS_BLACK_LIST
		where ID = #{id,jdbcType=CHAR}
	</select>

	<!-- 自定义sql语句用来查询黑名单是否存在 -->
	<select id="getCountByUserId" resultType="java.lang.Integer"
		parameterType="java.lang.String">
		select
		count(id)
		from UMS_BLACK_LIST
		where USER_ID = #{userId,jdbcType=CHAR}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from UMS_BLACK_LIST
		where ID = #{id,jdbcType=CHAR}
	</delete>

	<insert id="insertSelective" parameterType="net.zoneland.ums.common.dal.dataobject.UmsBlackList">

		insert into UMS_BLACK_LIST
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="userId != null">
				USER_ID,
			</if>
			<if test="appId != null">
				APP_ID,
			</if>
			<if test="gmtCreated != null">
				GMT_CREATED,
			</if>
			<if test="gmtModified != null">
				GMT_MODIFIED,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=CHAR},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=CHAR},
			</if>
			<if test="appId != null">
				#{appId,jdbcType=CHAR},
			</if>
			<if test="gmtCreated != null">
				#{gmtCreated,jdbcType=TIMESTAMP},
			</if>
			<if test="gmtModified != null">
				#{gmtModified,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>



	<select id="searchSelectiveByPage" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM UMS_BLACK_LIST
		<where>
			1 = 1
			<if test="userId != null">
				AND USER_ID like '%'||#{userId}||'%'
			</if>
			<if test="appId != null">
				AND APP_ID = #{appId}
			</if>
		</where>

			order by GMT_MODIFIED desc

		limit #{first} , 10
	</select>

	<select id="searchNum" resultType="java.lang.Integer">
		SELECT count(ID)
		FROM UMS_BLACK_LIST
		<where>
			1 = 1
			<if test="userId != null">
				AND USER_ID like '%'||#{userId}||'%'
			</if>
			<if test="appId !=null">
				AND APP_ID = #{appId}
			</if>
		</where>
	</select>

	<select id="selectByPhone" resultType="java.lang.Integer">
		select count(*)
		from UMS_BLACK_LIST
		WHERE USER_ID = #{userId} AND APP_ID = #{appId}
	</select>

	<select id="getAppById" resultMap="AppInfo">
		select
		APP_NAME
		from UMS_APP_INFO
		where APP_ID = #{id}
	</select>

	<select id="selectByPhoneNumber" resultType="java.lang.String">
		SELECT APP_ID
		FROM
		UMS_BLACK_LIST where USER_ID = #{phoneNumber}
	</select>

	<delete id="delBlackList" parameterType="java.util.Map">
		delete from UMS_BLACK_LIST 
		where 
		USER_ID = #{phoneNumber} 
		<if test="appId !=null">
				AND APP_ID = #{appId}
			</if>
		
	</delete>

	<delete id="deleteBlackListByUserId" parameterType="java.lang.String">
		delete from UMS_BLACK_LIST
		where USER_ID = #{userId}
	</delete>

	<select id="getUserId"
		parameterType="net.zoneland.ums.common.dal.dataobject.UmsBlackList"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from UMS_BLACK_LIST
		where USER_ID = #{userId}
	</select>

	<select id="getByUserIdAndAppId"
		parameterType="net.zoneland.ums.common.dal.dataobject.UmsBlackList"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from UMS_BLACK_LIST
		where USER_ID = #{userId} and APP_ID = #{appId}
	</select>

	<delete id="deleteBlackListByAppId" parameterType="java.lang.String">
		delete from UMS_BLACK_LIST
		where APP_ID = #{appId,jdbcType=CHAR}
	</delete>

	<select id="selectByAppId" resultType="java.lang.String">
		select
		USER_ID
		from UMS_BLACK_LIST
		where APP_ID = #{appId}
	</select>
</mapper>