<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.zoneland.ums.common.dal.UmsGatewayGroupMapper" >
  <resultMap id="BaseResultMap" type="net.zoneland.ums.common.dal.dataobject.UmsGatewayGroup" >
    <id column="ID" property="id" jdbcType="CHAR" />
    <result column="GATEWAY_GROUP_NAME" property="gatewayGroupName" jdbcType="VARCHAR" />
    <result column="GMT_CREATED" property="gmtCreated" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, GATEWAY_GROUP_NAME, GMT_CREATED
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from UMS_GATEWAY_GROUP
    where ID = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from UMS_GATEWAY_GROUP
    where ID = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="net.zoneland.ums.common.dal.dataobject.UmsGatewayGroup" >
    insert into UMS_GATEWAY_GROUP (ID, GATEWAY_GROUP_NAME, GMT_CREATED
      )
    values (#{id,jdbcType=CHAR}, #{gatewayGroupName,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="net.zoneland.ums.common.dal.dataobject.UmsGatewayGroup" >
    insert into UMS_GATEWAY_GROUP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="gatewayGroupName != null" >
        GATEWAY_GROUP_NAME,
      </if>
      <if test="gmtCreated != null" >
        GMT_CREATED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="gatewayGroupName != null" >
        #{gatewayGroupName,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="net.zoneland.ums.common.dal.dataobject.UmsGatewayGroup" >
    update UMS_GATEWAY_GROUP
    <set >
      <if test="gatewayGroupName != null" >
        GATEWAY_GROUP_NAME = #{gatewayGroupName,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        GMT_CREATED = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.zoneland.ums.common.dal.dataobject.UmsGatewayGroup" >
    update UMS_GATEWAY_GROUP
    set GATEWAY_GROUP_NAME = #{gatewayGroupName,jdbcType=VARCHAR},
      GMT_CREATED = #{gmtCreated,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=CHAR}
  </update>
  <select id="selectAllGatewayGroup" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from UMS_GATEWAY_GROUP
  </select>
</mapper>