<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="http://www.springframework.org/schema/cache 
        http://www.springframework.org/schema/cache/spring-cache-3.1.xsd
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

	
	
	
	<mvc:annotation-driven></mvc:annotation-driven>
    <context:component-scan base-package="com.tiaotiaogift,net.zoneland.mvc" />
    <mvc:interceptors>
    <mvc:interceptor>
    <mvc:mapping path="/**" />   
    <bean class="com.tiaotiaogift.web.mvc.DefHandlerInterceptorAdapter"/>
	</mvc:interceptor>   
    </mvc:interceptors>
	<bean id="propertyConfigurer"
		class="net.zoneland.mvc.runtime.core.config.DefaultPropertyPlaceholderConfigurer">
		<property name="ignoreUnresolvablePlaceholders" value="false"></property>
		<property name="fileEncoding" value="UTF-8"></property>
	</bean>

	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource"
		p:basenames="${htdocs_root}/messages/error" p:defaultEncoding="UTF-8"
		p:cacheSeconds="0" />

	<bean id="velocityConfig"
		class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
		<property name="resourceLoaderPath" value="${htdocs_root}" />
		<!-- <property name="configLocation" value="classpath*:/spring/velocity.properties"
			/> -->
		<property name="velocityProperties">
			<props>
				<prop key="input.encoding">utf-8</prop>
				<prop key="output.encoding">utf-8</prop>
				<prop key="parser.pool.size">100</prop>
				<prop key="tools.view.servlet.error.template">error.vm</prop>
				<prop key="tools.view.servlet.layout.directory">layout/</prop>
				<prop key="tools.view.servlet.layout.default.template">default.vm</prop>
				
			</props>
		</property>
	</bean>
	
	<bean id="welcomeFileFilter"
		class="com.tiaotiaogift.web.filter.WelcomeFileFilter">
		<property name="welcomeFile" value="/u.htm"></property>
	</bean>
	<bean id="threadCleanFilter"
		class="com.tiaotiaogift.web.home.filter.ThreadCleanFilter">
	</bean>
	
	<bean id="filterChainProxy"
		class="com.tiaotiaogift.web.filter.FilterChainProxy" >
		<property name="filterChains">
			<list>
				<ref bean="welcomeFileFilter" />
				<ref bean="threadCleanFilter" />
				<ref bean="accessFilter" />
				<ref bean="characterEncodingFilter" />
			</list>
		</property>
	</bean>
	
	<bean id="characterEncodingFilter" class="org.springframework.web.filter.CharacterEncodingFilter">
		<property name="encoding" value="UTF-8"></property>
	</bean>

	
	<bean id="accessFilter"
		class="com.tiaotiaogift.web.home.filter.AccessFilter">
	</bean>
	
	
	
	
</beans>
