
#set($HeadMenuId="a_q")
<link rel="stylesheet" href="$homeServer.getURI("/static/css/ada.css")" />
<link rel="stylesheet" href="$homeServer.getURI("/static/css/left-nav.css")" />
<link rel="stylesheet" href="$homeServer.getURI("/static/css/pager.css")" />
<div class="contain">
  #parse("home/left-nav.vm")
  <div class="contain-right">
     <ul>
        <li class="banner-mid"><img class="title-bar-img-contain" src="$homeServer.getURI("/static/images/ada/ico-3.png")"/><b>常见问题</b> <span>当前位置: <a href="$homeServer.getURI("/index.htm")">首页</a> &gt; <a href="$homeServer.getURI("/ada/ada.htm")">常见问题</a></span></li>
     </ul>
	<ul>
	#foreach($var in $res.result)
       <li >问题: $!{var.q}</li>
       <li style="color:#fe072a;border-bottom: 1px dashed  #cfd7f6;">答复: $!{var.a}</li>
      #end
	  
	</ul>
	
	<!--分页开始-->

		  <div class="btnArea clearfix" >
    			<div class="page_detail">
    				#if($!res.pageId != 1)
						<a class="a_green_form_ddl" href="$homeServer.getURI("/q/q.htm").addQueryData("pageId","1")"><span>首页</span></a>
					   #set($tempPage = $!res.pageId - 1)
					   <a class="a_green_form_ddl" href="$homeServer.getURI("/q/q.htm").addQueryData("pageId","$!tempPage")"><span>上一页</span></a>
				   #end
				   #if($!res.pageId < $!res.pageCount)
					   #set($tempPage = $!res.pageId + 1)
					   <a class="a_green_form_ddl" href="$homeServer.getURI("/q/q.htm").addQueryData("pageId","$!tempPage")"><span>下一页</span></a>
					   <a class="a_green_form_ddl" href="$homeServer.getURI("/q/q.htm").addQueryData("pageId","$!res.pageCount")"><span>尾页</span></a>
				   #end
				   <span class="pager_info">当前第$!res.pageId页  共$!res.pageCount页 共$!res.total条记录</span>
                </div>
            </div>
       
	<!--分页结束 -->
  </div>
   
</div>