#set($HeadMenuId="a_q")
#set($leftMenuId="q_ums")
<link rel="stylesheet" href="$homeServer.getURI("/static/css/q.css")" />
<div class="center-contain">
<div class="contain">
  #parse("home/q/left-nav.vm")
  <div class="contain-right">
	<ul>
	  <li><b class="font16">1，问:短信平台是否支持长短信？</b></li>
	  <li>答:短信平台目前都是按电信，联通，移动协议标准开发，支持长短信自动拆分(终端手机接收到的显示为一条短信),支持接收方人员自动拆分(网关限制为每条短信
	  接收方不超过100个)<br/><br/></li>
	  <li><b class="font16">2，问:短信发送失败是否会扣费？</b></li>
	  <li>答:短信平台对短信的发送状态可以查看，对于发送失败的短信不会扣费。另外由于网关返回状态报告的时间可能在几个小时（例如接收方
	  手机关机的情况）后，因此这里的成功是指网关成功接收到短信。<br/><br/></li>
	  <li><b class="font16">3，问:短信平台有哪些主要功能？</b></li>
	  <li>答:短信平台可以针对用户需求进行定制开发，目前的版本中主要功能有：<br/>
	  1，用户名片导入，支持将常联系的人建成一个群组，方便短信的群发。<br/>
	  2，查看发送，接收的短信。<br/>
	  3，查询统计发送记录。<br/>
	  4，黑名单，敏感词维护，处理。<br/>
	  5，网关维护，动态启用，停止网关。<br/>
	  6，由于网关通道的速率限制，短信平台对消息持久化，并以缓冲方式往网关发送短信。保证系统稳定性，网关稳定性。<br/>
	  7，网关状态实时监控，告警。<br/><br/>
	  </li>
	  
	</ul>
</div>
</div>
</div>