<div  style="width:940px;margin:0 auto;">

&nbsp;
<hr style="color:#c5e6c7;"></hr>
<div style="padding:5px;">
  <ul> 
      <li>
        <a href='http://www.miit.gov.cn/n11293472/index.html' target='_blank'>工信部</a> |
		<a href='http://www.10086.cn/index.htm' target='_blank'>中国移动</a> |
		<a href='http://www.ct10000.com/' target='_blank'>中国电信</a> |
		<a href='http://www.10010.com' target='_blank'>中国联通</a>  
      </li>
      <li>版权所有：爱塔公司</li>
      <li>联系电话:13588754574</li>
  </ul>
</div>
</div>