<div class="container">
         <div class="grid doc">
            <div class="col-2-12">
            <div class="block">
               <a href="$homeServer.getURI("/index.htm")"><img width="200" height="60" src="$homeServer.getURI("/static/images/logo-4.png")"/>
               </a>
              </div>
            </div>
            <div class="col-7-12">
              &nbsp;
            </div>
             <div class="col-3-12" style="text-align:center;">
                #if( $operationContext.getOperationContext().getPrincipal().getLogonId() == 'anonymous' )
			      <a  href="$homeServer.getURI("/user/login.htm")">登录</a> <b>&nbsp;|&nbsp;</b> <a  href="$homeServer.getURI("/user/reg.htm")">注册</a>
			    #else
			     $operationContext.getOperationContext().getPrincipal().getUserName()，欢迎您&nbsp;&nbsp;<a href="$homeServer.getURI("/loginOut.htm")"> 退出</a>
			     &nbsp;&nbsp;<a href="$homeServer.getURI("/home/home.htm")"> 我的主页</a>
			    #end
             
                
                 <br>
                  <a href="$homeServer.getURI("/prod/publish.htm")" class="button button-green">发布信息</a>
            </div>
        </div>
</div>

   

     

    



