<div  class="container">


<hr style="color:#c5e6c7;"></hr>
<div style="padding:5px;text-align:center;">
  <ul class="list-unstyled"> 
      <li>
        <a href='http://www.miit.gov.cn/n11293472/index.html' target='_blank'>工信部</a> |
		<a href='http://www.10086.cn/index.htm' target='_blank'>中国移动</a> |
		<a href='http://www.ct10000.com/' target='_blank'>中国电信</a> |
		<a href='http://www.10010.com' target='_blank'>中国联通</a>  
      </li>
      <li>版权所有：复多电子商务</li>
      <li>联系电话:13588339905 联系QQ:52313882</li>
  </ul>
</div>
</div>