

<div class="container">
         <div class="grid doc">
            <div class="col-1-5">
            <div class="block">
               <a href="$homeServer.getURI("/index.htm")"><img width="200" height="60" src="$homeServer.getURI("/static/images/logo-4.png")"/>
               </a>
              </div>
            </div>
            <div class="col-3-5">
              <div class="block">
              <h2>$!{_title}</h2>
               </div>
            </div>
             <div class="col-1-5">
                 #if( $operationContext.getOperationContext().getPrincipal().getLogonId() == 'anonymous' )
			      <a  href="$homeServer.getURI("/user/login.htm")">登录</a> <b>&nbsp;|&nbsp;</b> <a  href="$homeServer.getURI("/user/reg.htm")">注册</a>
			    #else
			     $operationContext.getOperationContext().getPrincipal().getUserName()，欢迎您&nbsp;&nbsp;<a href="$homeServer.getURI("/loginOut.htm")"> 退出</a>
			     &nbsp;&nbsp;<a href="$homeServer.getURI("/home/home.htm")"> 我的主页</a>
			    #end
            </div>
        </div>
</div>


