<div data-options="region:'center',title:'服务器状态'">
<div class="search-form">
  <label>开始时间:</label><input type="text" id="startTime" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',isShowClear:true,readOnly:true})"/>
  <label>结束时间:</label><input type="text" id="endTime" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',isShowClear:true,readOnly:true})"/>
  <input type="button" id="search_btn" value="查询"/>
  
</div>
<div id="main-contain" class="contain">
	
</div>
</div>

<script type="text/javascript" src="$homeServer.getURI("/static/js/config.js")"></script>