#set($layout = "home/layout/regLayout.vm")
#set($_title="找回密码")

<div class="container">
<div class="grid doc" style="height:350px;">
	<div class="col-1-6">
	&nbsp;
	</div>
	<div class="col-5-6">
	<form class="form form-aligned" method="post" action="$homeServer.getURI("/user/findPass.htm")" id="regForm" name="findPassForm">
	
	
	    <input style="display:none" type="text"  name="_form_token" value="$formTool.newForm($request)" />
		<div class="control">
		 <label>请输入您的用户名:</label>
		  #springBind("findPassForm.userName" )
		  <input  type="text"  name="${status.expression}" value="$!status.value" />
		   #springShowErrors("" "color:red;")
		</div>
	
		<div class="control">
		    <label>请输入注册邮箱:</label>
		   #springBind("findPassForm.email" )
		   <input type="text"  name="${status.expression}" value="$!status.value" />
		    #springShowErrors("" "color:red;")
		</div>
		<div class="control">
		  <label></label>
	        <button type="submit" class="button-green">找回密码</button>
		</div>
	</form>
	
	
	</div>
</div>
</div>