#set($HeadMenuId="a_try")
#set($leftMenuId="try_ums")
<link rel="stylesheet" href="$homeServer.getURI("/static/css/ums-password.css")" />
<script type="text/javascript" src="$homeServer.getURI("/static/js/ums/reg.js")"></script>
<div class="ums-center-contain">


<div class="step">
            <ul>
               <li class="one cur">填写用户名和邮箱</li>
               <li class="">验证身份</li>
               <li class="">设置新密码</li>
               <li class="four">完成</li>
            </ul>
        </div>
<form method="post" action="$homeServer.getURI("/findPassword.htm")" id="regForm" name="findPasswordForm">
<div class="reg-contain">

<input style="display:none" type="text"  name="_form_token" value="$formTool.newForm($request)" />
<li><label>请输入您的用户名:</label>
  #springBind("findPasswordForm.userName" )
  <input class="reg_input_text" type="text"  name="${status.expression}" value="$!status.value" />
    
</li>
<li>
<p class="error-span">
  #foreach($error in $status.errorMessages)
		<b>$error</b>
  #end
</p>
</li>
<li><label>请输入您的注册邮箱:</label>
   #springBind("findPasswordForm.email" )
   <input class="reg_input_text" type="text"  name="${status.expression}" value="$!status.value" />

</li>
<li>
<p class="error-span">
  #foreach($error in $status.errorMessages)
		<b>$error</b>
  #end
</p>
</li>
<li class="form-btn"><a class="do-btn margin-left120" id="reg_btn" href="#">找回密码</a><a id="reset_btn" class="do-btn" href="#">重置</a></li>


</div>
</form>
</div>

</div>