#set($HeadMenuId="a_try")


<link rel="stylesheet" href="$homeServer.getURI("/static/css/ums-reg.css")" />
<link rel="stylesheet" href="$homeServer.getURI("/static/css/ums-password.css")" />
<div class="ums-center-contain">
<div>
    <ul id="crumbs">
	    <li><a href="$homeServer.getURI("/ums/index.htm")">首页</a></li>
	    <li>新密码设置成功</li>
    </ul>
</div>

<div class="step">
            <ul>
               <li class="one1">填写用户名和邮箱</li>
               <li class="two1">验证身份</li>
               <li class="three">设置新密码</li>
               <li class="four1 cur">完成</li>
            </ul>
        </div>
 <div class="contain-tips">
  <p style="font-size:16px;font-weight:bold;">新密码设置成功.</p>
 <p style="font-size:14px;font-weight:bold;">您可以点此<a href="$homeServer.getURI("/login.htm")">登录UMS365</a></p>
 </div>

</div>