#set($HeadMenuId="a_try")


<link rel="stylesheet" href="$homeServer.getURI("/static/css/ums-reg.css")" />
<link rel="stylesheet" href="$homeServer.getURI("/static/css/ums-password.css")" />
<div class="ums-center-contain">
<div>
    <ul id="crumbs">
	    <li><a href="$homeServer.getURI("/ums/index.htm")">首页</a></li>
	    <li><a href="$homeServer.getURI("/findPassword.htm")">找回密码</a></li>
	    <li>验证身份</li>
    </ul>
</div>

<div class="step">
            <ul>
               <li class="one">填写用户名和邮箱</li>
               <li class="two cur">验证身份</li>
               <li class="">设置新密码</li>
               <li class="four">完成</li>
            </ul>
        </div>
 <div class="contain-tips">
  <p style="font-size:16px;font-weight:bold;">请前往您的注册邮箱$!form.email，按照提示完成密码重置.</p>
 
 </div>

</div>