#set($HeadMenuId="a_try")
#set($leftMenuId="try_ums")
<link rel="stylesheet" href="$homeServer.getURI("/static/css/ums-password.css")" />
<script type="text/javascript" src="$homeServer.getURI("/static/js/ums/reg.js")"></script>
<div class="ums-center-contain">
<div>
    <ul id="crumbs">
	    <li><a href="$homeServer.getURI("/ums/index.htm")">首页</a></li>
	    <li>设置新密码</li>
    </ul>
</div>

<div class="step">
            <ul>
               <li class="one1">填写用户名和邮箱</li>
               <li class="two">验证身份</li>
               <li class="three cur">设置新密码</li>
               <li class="four">完成</li>
            </ul>
        </div>
<form method="post" action="$homeServer.getURI("/resetPassword.htm")" id="regForm" name="resetPasswordForm">
<div class="reg-contain">

<input style="display:none" type="text"  name="_form_token" value="$formTool.newForm($request)" />
<input style="display:none" type="text"  name="u" value="$form.u" />
<li><label>请输入您的新密码:</label>
  #springBind("resetPasswordForm.password" )
  <input class="reg_input_text" type="password"  name="${status.expression}" value="$!status.value" />
    
</li>
<li>
<p class="error-span">
  #foreach($error in $status.errorMessages)
		<b>$error</b>
  #end
</p>
</li>
<li><label>请再次输入您的新密码:</label>
   #springBind("resetPasswordForm.passwordSec" )
   <input class="reg_input_text" type="password"  name="${status.expression}" value="$!status.value" />

</li>
<li>
<p class="error-span">
  #foreach($error in $status.errorMessages)
		<b>$error</b>
  #end
</p>
</li>
<li class="form-btn"><a class="do-btn" id="reg_btn" href="#">保存</a><a id="reset_btn" class="do-btn" href="#">重置</a></li>


</div>
</form>
</div>

</div>