<div class="ums-top" id="top">
  
	<div class="ums-header" >
	<div class="ums-logo">
	  <a href="$homeServer.getURI("/u.htm")"><img width="200px" height="60px" border="0" src="$homeServer.getURI("/static/images/umsnew/logo-n.jpg")"/></a>
	</div>
	<div class="ums-header_b"><span>
		 #if( $operationContext.getOperationContext().getPrincipal().getLogonId() == 'anonymous' )
	      <a  href="$homeServer.getURI("/login.htm")">登录</a> <b>&nbsp;|&nbsp;</b> <a  href="$homeServer.getURI("/reg.htm")">注册</a>
	    #else
	     $operationContext.getOperationContext().getPrincipal().getUserName()，欢迎您&nbsp;|&nbsp;<a href="$homeServer.getURI("/loginOut.htm")"> 退出</a>
	    #end
		 
	      </span></div>
	</div>
</div>

	    

<div class="ums-menu" id="banner2">
	<div class="ums-menu-contain" id="banner2_href_nav">
	
		
			<a id="a_u" class="visit" href="$homeServer.getURI("/u.htm")"><span>首页</span></a>
			<a id="a_work"  href="$homeServer.getURI("/ums/index.htm")"><span>发送短信</span></a>
			<a id="a_send"  href="$homeServer.getURI("/ums/send.htm")"><span>已发的短信</span></a>
			<a id="a_recv"  href="$homeServer.getURI("/ums/recv.htm")"><span>接收到的短信</span></a>
			<a id="a_personal"  href="$homeServer.getURI("/personal/contact.htm")"><span>我的联系人</span></a>
			<a id="a_template"  href="$homeServer.getURI("/ums/smsTemplate.htm")"><span>短信模版</span></a>
			<a id="a_info"   href="$homeServer.getURI("/personal/personal.htm")"><span>个人资料</span></a>
			
			<a id="a_account"  href="$homeServer.getURI("/account/myUms.htm")"><span>我的账户</span></a>
			<a id="a_suggestion" style="border-right: 1px solid #fff;"  href="$homeServer.getURI("/suggestion.htm")"><span>提点建议</span></a>
		    
		   
    </div>

</div>
	<div class="ums-notice" >
		<b></b> 	
	</div>
<script language="javascript">
	var oul = document.getElementById("banner2_href_nav").getElementsByTagName("a");
	for(var i=0,len=oul.length;i<len;++i){
	   oul[i].className="";
	}
	var oli = document.getElementById("$HeadMenuId");
	if(oli){
		oli.className="visit";
	}
	function initWidth(){

	 if(window.screen.width<1024){
	   $("#top").width(1024);
	   $("#banner2").width(1024);
	 }
	}
	initWidth();
</script>