<dl id="lt_nav">
		<div class="lt_nav_hd"><span>统计报表</span></div>
        <div id="lt_nav_menu" class="lt_nav_menu">
			<a id="stat_msg_side_bar" href="$umsServer.getURI("/stat/searchmsgInit.htm")">查询统计用户短信</a>
			<a id="stat_data_side_bar" href="$umsServer.getURI("/stat/searchDataInit.htm")">查询统计数据短信</a>
			<a id="stat_msgIn_side_bar" href="$umsServer.getURI("/stat/searchMsgInInit.htm")">查询统计上行短信</a>
			<a id="error_msg_side_bar" href="$umsServer.getURI("/error/errorInit.htm")">查询统计上行错误短信</a>	
			<a id="stat_gate_bar" href="$umsServer.getURI("/stat/statGate.htm")">网关分组统计</a>		
        </div>
        <div class="rounded_btm">
            <span class="lt_btm"></span>
            <span class="rt_btm"></span>
        </div>
 </dl>
<script language="javascript">
var oul = document.getElementById("lt_nav_menu").getElementsByTagName("a");
for(var i=0,len=oul.length;i<len;++i){
   oul[i].className="";
}
var oli = document.getElementById("$sideMenuId");
if(oli){
	oli.className="select";
}
</script>