<link href="$umsServer.getURI("/static/css/auto_table_scroll.css")" type="text/css" rel="stylesheet" />
<link href="$umsServer.getURI("/static/css/queryui/jquery.ui.all.css")" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="$umsServer.getURI("/static/js/jqueryPlugin/jquery.ui.core.js")"></script>
<script type="text/javascript" src="$umsServer.getURI("/static/js/jqueryPlugin/jquery.ui.widget.js")"></script>
<script type="text/javascript" src="$umsServer.getURI("/static/js/jqueryPlugin/jquery.ui.position.js")"></script>
<script type="text/javascript" src="$umsServer.getURI("/static/js/jqueryPlugin/jquery.ui.autocomplete.js")"></script>
<script type="text/javascript" src="$umsServer.getURI("/static/js/My97DatePicker/WdatePicker.js")"></script>
<script type="text/javascript" src="$umsServer.getURI("/static/js/dropdown/jquery.cascadingDropDown.js")"></script>
<script type="text/javascript" src="$umsServer.getURI("/static/js/app/stat.js")"></script>
<script type="text/javascript" src="$umsServer.getURI("/static/js/app/jquery.appSelect.js")"></script>
<script type="text/javascript" src="$umsServer.getURI("/static/js/table.js")"></script>
<script type="text/javascript" src="$umsServer.getURI("/static/js/targetPage.js")"></script>
<div id="bd">
#set($sideMenuId="stat_gate_bar")
#set($HeadMenuId="stat_header")
#parse("/home/stat/statSideBar.vm")

<input style="width:50%;" type="hidden" id="param"  name="param" value="$param"/>
<input style="width:50%;" type="hidden" id="searchUrl"  name="searchUrl" value="$searchUrl"/>
<div id="pRight" >
        <div class="rounded_top">
			<span class="lt_top"></span> <span class="rt_top"></span>
		</div>
		<div class="pRight_c" style="width:_97%;">
				<form action="$umsServer.getURI("/stat/statGate.htm")" method="post" name="form_book" id="form_book">
					
				<div class="searchArea" >
					<table border="0" cellpadding="0" cellspacing="1">
						<tr>
							<td width="10%" align="right"><span class="bold fs14 c_007">时间段：</span></td>
							<td width="50%" colspan="3">
								<input type="text"  id="d4311" class="Wdate" name="startTime" value="$!form.startTime" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:true,readOnly:true,maxDate:'#F{$dp.$D(\'d4312\')}'})" style="width:120px;"/>
            					--
            					<input type="text" id="d4312" class="Wdate" name="endTime" value="$!form.endTime" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:true,readOnly:true,minDate:'#F{$dp.$D(\'d4311\')}'})" style="width:120px;"/>
							</td>	
							<td width="19%" align="right"><span class="bold fs14 c_007">短信类型：</span></td>
							<td width="20%">
								<select  name="smsType" id="smsType" style="line-height: 18px; font-size:12px;height:20px;width:145px;">
                    				<option value="">请选择</option>
                    				
                    				
            							#foreach($state in $smsTypelist)
            								#if($!form.smsType == $state.getValue())
            									<option selected="selected" value="$!state.getValue()">$!state.getDescription()</option>
            								#else
            									<option value="$!state.getValue()">$!state.getDescription()</option>
            								#end
            							#end
            					</select>
							</td>
							
						</tr>
						
						<tr>
							
							<td colspan="6">
								<input type="button" id="searchLog_sbtn" class="btn_green_search_form" value="查询" />
								<input type="button" id="export_gate_stat_sbtn" class="btn_green_search_form" value="导出" />
							</td>							
						</tr>
					</table>
                </div>
				
				<div class="tableContainer" >
					<div id="scrollContentContainer" class="scrollContentContainer" style="overflow:auto;height:370px;_width:100%;">
        				<table class="scrollContent" cellspacing="1" cellpadding="0" style="width:100%;">
							<thead>
								<tr>
        						  <td><div style="width:100px;overflow:hidden;">日期</div></td>					  
        				          <td><div style="width:50px;overflow:hidden;">应用ID</div></td>
        				          <td><div style="width:250px;overflow:hidden;">应用名</div></td>
        				          <td><div style="width:100px;overflow:hidden;">短信类型</div></td>     
        				          <td><div style="width:100px;overflow:hidden;">移动95598</div></td>								 
								  <td><div style="width:100px;overflow:hidden;">移动106</div></td>
								  <td><div style="width:100px;overflow:hidden;">联通95598</div></td>									    
        						  <td><div style="width:100px;overflow:hidden;">联通106</div></td>
        				          <td><div style="width:100px;overflow:hidden;">电信106</div></td>
        				          <td><div style="width:100px;overflow:hidden;">95598合计</div></td>
        				          <td><div style="width:100px;overflow:hidden;">106合计</div></td>
        			            </tr>
                            </thead>
        					<tbody class="tb">
        					#foreach($var in $result.results)
        						<tr>
        						  <td align="center"><div style="width:100px;overflow:hidden;">$!date.format('yyyy-MM-dd',$!var.umsStat.statDate)</div></td>      
        				          <td ><div style="width:50px;overflow:hidden;">$!var.umsStat.appId</div></td>
        				          <td ><div style="width:250px;overflow:hidden;">$!var.appName</div></td>
        				          <td ><div style="width:100px;overflow:hidden;">$!var.umsStat.msgType</div></td>
        				          <td ><div style="width:100px;overflow:hidden;">$!var.umsStat.cmpp95598</div></td>								  
								  <td ><div style="width:100px;overflow:hidden;">$!var.umsStat.cmpp106</div></td> 
								  <td ><div style="width:100px;overflow:hidden;">$!var.umsStat.sgip95598</div></td>				  
        						  <td ><div style="width:100px;overflow:hidden;">$!var.umsStat.sgip106</div></td>
        				          <td ><div style="width:100px;overflow:hidden;">$!var.umsStat.smgp106</div></td>
        				          <td ><div style="width:100px;overflow:hidden;">$!var.umsStat.stat95598</div></td>
        				          <td><div style="width:100px;overflow:hidden;">$!var.umsStat.stat106</div></td>
        				         </tr>
        						#end
        					    </tbody>
        				</table>
        				#if($!init == 0)				
						<div class="norecord" style="width:1225px;color:green;">
							请选择查询条件，并点击查询按钮进行查询
						</div>
						#end
						#if(!($result && $result.results && $result.results.size() > 0))
							#if($result && $result.curPage <= 1)
							<div class="norecord" style="width:1225px;">
								没有查询到符合条件的记录
							</div>
							#end
						#end
				
        			</div>
        		</div>
        		#if($result && $!result.totalPage > 0)
				 <div class="btnArea clearfix">
        			<div class="page_detail">
        				#if($!result.curPage != 1)
    						<a class="a_green_form_ddl" href="$umsServer.getURI("/stat/statGate.htm").addQueryData("smsType","$!form.smsType").addQueryData("pageId","1").addQueryData('startTime',"$!form.startTime").addQueryData('endTime',"$!form.endTime")"><span>首页</span></a>
    					   #set($tempPage = $!result.curPage - 1)
    					   <a class="a_green_form_ddl" href="$umsServer.getURI("/stat/statGate.htm").addQueryData("smsType","$!form.smsType").addQueryData("pageId","$!tempPage").addQueryData("startTime","$!form.startTime").addQueryData('endTime',"$!form.endTime")"><span>上一页</span></a>
    				   #end
    				   #if($!result.curPage < $!result.totalPage)
    					   #set($tempPage = $!result.curPage + 1)
    					   <a class="a_green_form_ddl" href="$umsServer.getURI("/stat/statGate.htm").addQueryData("smsType","$!form.smsType").addQueryData("pageId","$!tempPage").addQueryData('startTime',"$!form.startTime").addQueryData('endTime',"$!form.endTime")"><span>下一页</span></a>
    					   <a class="a_green_form_ddl" href="$umsServer.getURI("/stat/statGate.htm").addQueryData("smsType","$!form.smsType").addQueryData("pageId","$!result.totalPage").addQueryData('startTime',"$!form.startTime").addQueryData('endTime',"$!form.endTime")"><span>尾页</span></a>
    				   #end
    				  <span class="pager_info">当前第 <input id="targetNum" name="pageId" class="pager_inputBox" value="$!result.curPage" autocomplete="off"/>页  </span>				   
				      <span id="targetBtn" class="a_green_form_ddl" style="cursor: pointer;">跳转</span>
				      <span>共$!result.totalPage页 共$!result.total条记录</span>
                     </div>
                  </div>
                  #end
				</form>
            </div>
			<div class="rounded_btm">
    			<span class="lt_btm"></span> <span class="rt_btm"></span>
    		</div>
        </div>
    </div>