<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>浙江省电力公司短信平台</title>
<link href="$umsServer.getURI("/static/css/main.css")" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="$umsServer.getURI("/static/js/jquery-1.7.1.js")"></script>

<script >
 var currenthost="$!umsServer";
</script>
</head>
 <body>
      #parse('home/layout/errorHeader.vm')
      $screen_content
      #parse('home/layout/footer.vm')
 </body>
</html>